.post {
    width: 100%;
    box-shadow: 3px 7px 10px -7px #999;
    border-radius: 10px;
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}


.postIconImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.iconImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.postTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postUserName {
    font-size: 15px;
    font-weight: 550;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}

.postCenter {
    margin: 20px 0;
}

.postImgBox {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.postImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeImgBox {
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-right: 5px;
    cursor: pointer;
}

.likeImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.postLikeCounter {
    font-size: 15px;
}

.postBottomRight {}

.postLikeCommentText {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    margin-right: 5px;
}