<form action="/auth" method="post">
    <div>
        <label>メールアドレス</label>
        <input type="text" name="email">
    </div>

    <div>
        <label>パスワード</label>
        <input type="password" name="password">
    </div>

    <div>
        <button>Loigin</button>
    </div>
</form>