@charset "UTF-8";
:root {
  --vw: 1vw;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: calc(0.8333333333 * var(--vw));
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: calc(2.6666666667 * var(--vw));
  }
}

body {
  background-color: #F0F2F5;
  color: #333;
  line-height: 1.7;
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  position: relative;
  word-break: break-word;
  width: 100%;
  font-weight: 400;
  font-size: 1.6rem;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 1.6rem;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pc {
  display: block;
}
@media only screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}

.header {
  width: 100%;
  height: calc(7.5 * var(--vw));
  background-color: #1877F2;
  line-height: calc(7.5 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .header {
    height: 90px;
    line-height: 90px;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    height: calc(12 * var(--vw));
    line-height: calc(12 * var(--vw));
  }
}
.header__inner {
  padding: 0 calc(1.6666666667 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .header__inner {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  .header__inner {
    padding: 0 calc(2.6666666667 * var(--vw));
  }
}
.header__logo {
  font-size: 3.2rem;
  font-weight: bold;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .header__logo {
    font-size: 1.8rem;
  }
}

.main {
  width: 100%;
}
.main__inner {
  width: 100%;
  max-width: calc(83.3333333333 * var(--vw) + 3.3333333333 * var(--vw) * 2);
  padding: calc(6.6666666667 * var(--vw)) calc(3.3333333333 * var(--vw));
  margin: 0 auto;
  min-height: calc(16.6666666667 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .main__inner {
    max-width: 1080px;
    padding: 80px 40px;
    margin: 0 auto;
    min-height: 200px;
  }
}
@media only screen and (max-width: 767px) {
  .main__inner {
    max-width: none;
    padding: calc(5.3333333333 * var(--vw)) calc(2.6666666667 * var(--vw));
    min-height: calc(26.6666666667 * var(--vw));
  }
}

.trim {
  width: 100%;
  max-width: calc(66.6666666667 * var(--vw) + 1.25 * var(--vw) * 2);
  padding: 0 15px;
  margin: 0 auto;
  background-color: #fff;
}
@media only screen and (max-width: 767px) {
  .trim {
    max-width: none;
    flex-direction: column;
  }
}
.trim__inner {
  padding: calc(1.6666666667 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .trim__inner {
    padding: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .trim__inner {
    max-width: none;
    padding: calc(2 * var(--vw));
  }
}
.trim__ttl {
  font-size: 3rem;
}
@media only screen and (max-width: 767px) {
  .trim__ttl {
    font-size: 1.8rem;
  }
}
.trim__contents {
  display: flex;
  flex-direction: column;
}
.trim__canvas {
  border: 1px dotted #999;
  margin-top: calc(2.6666666667 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .trim__canvas {
    margin-top: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .trim__canvas {
    margin-top: calc(4.2666666667 * var(--vw));
  }
}
.trim__btn-wrap {
  margin-top: calc(3.3333333333 * var(--vw));
  display: flex;
  gap: calc(3.3333333333 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .trim__btn-wrap {
    margin-top: 40px;
    gap: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .trim__btn-wrap {
    flex-direction: column;
    align-items: center;
    margin-top: calc(5.3333333333 * var(--vw));
    gap: calc(5.3333333333 * var(--vw));
  }
}
.trim__btn {
  display: block;
  width: calc(16.6666666667 * var(--vw));
  height: calc(4.6666666667 * var(--vw));
  text-decoration: none;
  background-color: #1877F2;
  border: none;
  border-radius: calc(0.4166666667 * var(--vw));
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.trim__btn:hover {
  opacity: 0.7;
}
@media only screen and (min-width: 1200px) {
  .trim__btn {
    height: 56px;
    width: 200px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .trim__btn {
    font-size: 1.2rem;
    width: calc(53.3333333333 * var(--vw));
    height: calc(7.4666666667 * var(--vw));
    border-radius: calc(0.6666666667 * var(--vw));
  }
}

.footer {
  width: 100%;
  height: calc(15 * var(--vw));
  background-color: #1877F2;
  line-height: calc(15 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .footer {
    height: 180px;
    line-height: 180px;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    height: calc(24 * var(--vw));
    line-height: calc(24 * var(--vw));
  }
}
.footer__copy {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
@media only screen and (max-width: 767px) {
  .footer__copy {
    font-size: 1rem;
  }
}
.footer__copy-mark {
  font-size: 2rem;
}
@media only screen and (max-width: 767px) {
  .footer__copy-mark {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */