@charset "UTF-8";
:root {
  --vw: 1vw;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: calc(0.8333333333 * var(--vw));
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: calc(2.6666666667 * var(--vw));
  }
}

body {
  background-color: #F0F2F5;
  color: #333;
  line-height: 1.7;
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  position: relative;
  word-break: break-word;
  width: 100%;
  font-weight: 400;
  font-size: 1.6rem;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 1.6rem;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: calc(7.5 * var(--vw));
  background-color: #1877F2;
  line-height: calc(7.5 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .header {
    height: 90px;
    line-height: 90px;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    height: calc(12 * var(--vw));
    line-height: calc(12 * var(--vw));
  }
}
.header__inner {
  padding: 0 calc(1.6666666667 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .header__inner {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  .header__inner {
    padding: 0 calc(2.6666666667 * var(--vw));
  }
}
.header__logo {
  font-size: 3.2rem;
  font-weight: bold;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .header__logo {
    font-size: 1.8rem;
  }
}

.main {
  width: 100%;
}
.main__inner {
  width: 100%;
  max-width: calc(83.3333333333 * var(--vw) + 3.3333333333 * var(--vw) * 2);
  padding: calc(6.6666666667 * var(--vw)) calc(3.3333333333 * var(--vw));
  margin: 0 auto;
  min-height: calc(16.6666666667 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .main__inner {
    max-width: 1080px;
    padding: 80px 40px;
    margin: 0 auto;
    min-height: 200px;
  }
}
@media only screen and (max-width: 767px) {
  .main__inner {
    max-width: none;
    padding: calc(5.3333333333 * var(--vw)) calc(2.6666666667 * var(--vw));
    min-height: calc(26.6666666667 * var(--vw));
  }
}

.trim {
  width: 100%;
  max-width: calc(66.6666666667 * var(--vw) + 1.25 * var(--vw) * 2);
  padding: 0 15px;
  margin: 0 auto;
  background-color: #fff;
}
@media only screen and (max-width: 767px) {
  .trim {
    max-width: none;
    flex-direction: column;
  }
}
.trim__inner {
  padding: calc(1.6666666667 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .trim__inner {
    padding: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .trim__inner {
    max-width: none;
    padding: calc(2 * var(--vw));
  }
}
.trim__content-top {
  display: flex;
  justify-content: space-between;
  margin-top: calc(2.6666666667 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .trim__content-top {
    margin-top: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .trim__content-top {
    max-width: none;
    margin-top: calc(3.2 * var(--vw));
    flex-direction: column;
    justify-content: center;
  }
}
.trim__section {
  margin-top: calc(2.6666666667 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .trim {
    margin-top: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .trim {
    margin-top: calc(3.2 * var(--vw));
    flex-direction: column;
  }
}
.trim__ttl {
  font-size: 3rem;
}
@media only screen and (max-width: 767px) {
  .trim__ttl {
    font-size: 1.8rem;
  }
}
.trim__left {
  width: 45%;
}
@media only screen and (max-width: 767px) {
  .trim__left {
    width: 100%;
    max-width: none;
  }
}
.trim__list-ttl {
  min-width: 100px;
  flex-shrink: 0;
}
.trim__desc {
  width: 100%;
}
.trim__list input {
  width: 100%;
  display: block;
  padding: calc(0.6666666667 * var(--vw));
  font-size: 1.6rem;
}
@media only screen and (min-width: 1200px) {
  .trim__list input {
    padding: 8px;
  }
}
@media only screen and (max-width: 767px) {
  .trim__list input {
    padding: calc(1.0666666667 * var(--vw));
  }
}
.trim__label {
  display: flex;
  align-items: center;
  gap: calc(1.3333333333 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .trim__label {
    gap: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .trim__label {
    flex-direction: column;
    align-items: start;
    gap: calc(1.0666666667 * var(--vw));
  }
}
.trim__label:not(:first-of-type) {
  margin-top: calc(1.3333333333 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .trim__label:not(:first-of-type) {
    margin-top: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .trim__label:not(:first-of-type) {
    margin-top: calc(2.1333333333 * var(--vw));
  }
}
.trim__right {
  width: 100%;
  max-width: calc(33.3333333333 * var(--vw));
  aspect-ratio: 1/1;
  flex-shrink: 0;
}
@media only screen and (min-width: 1200px) {
  .trim__right {
    max-width: 400px;
  }
}
@media only screen and (max-width: 767px) {
  .trim__right {
    margin-top: calc(4.2666666667 * var(--vw));
    width: 100%;
    max-width: none;
  }
}
.trim__right-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.trim__canvas {
  border: 1px solid #999;
  margin-top: calc(2.6666666667 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .trim__canvas {
    margin-top: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .trim__canvas {
    margin-top: calc(4.2666666667 * var(--vw));
    width: 100%;
    max-width: none;
  }
}

.footer {
  width: 100%;
  height: calc(15 * var(--vw));
  background-color: #1877F2;
  line-height: calc(15 * var(--vw));
}
@media only screen and (min-width: 1200px) {
  .footer {
    height: 180px;
    line-height: 180px;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    height: calc(24 * var(--vw));
    line-height: calc(24 * var(--vw));
  }
}
.footer__copy {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
@media only screen and (max-width: 767px) {
  .footer__copy {
    font-size: 1rem;
  }
}
.footer__copy-mark {
  font-size: 2rem;
}
@media only screen and (max-width: 767px) {
  .footer__copy-mark {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */